:root {
    --heading-background-color: #C9A47C;
    --heading-text-color: #fff;
    --heading-font-family: 'times new roman', 'times', sans-serif;
    --padding: 0;
    --border: 1px solid rgb(0 0 0 / 0.1);
    --text-align: center;
}
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: var(--heading-background-color); */
}
.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header'
        'main'
        'footer';  
    border-top: 3px solid black; 
    border-bottom: 3px solid black;
}
.nestedgrid {
    display: grid;
    grid-template-rows: 1fr auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'section1'
    'section2'
    'section3';
}  
.header {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 200px;
    align-items: center;
    padding-top: .5rem;
}
.logo {
    grid-column: 1;
}
.nav {
    grid-column: 2;
    display: flex;
    justify-content: space-around;
}
header {
    grid-area: header;
    background-color: #5B3822;
    /* background-color: #C9A47C; */
    height: 200px;
    border: none;
}
header a {
    color: var(--heading-text-color); 
    text-decoration: none; 
    font-size: 1.5rem;
}
.section1 {
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
    overflow: hidden; 
    background-size: cover;
    background-repeat: no-repeat;
}
.section1 .background-image {
    width: 100%;
    height: 100vh;
    object-fit: cover; 
    display: block;
}
.section1 .overlay {
    position: absolute;
    top: 60%;
    right: 3%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6); 
    width: 70%; 
    min-width: 300px; 
    max-width: 1500px; 
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.section1 h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4rem;
    font-weight: bold;
    white-space: nowrap; 
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
}
.section1 .text {
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
}
.section1 .overlay img {
    max-width: 300px; 
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
    /* padding: 10px; */
}
main {
    background-color: #C9A47C;
    max-width: 100%;
    border: 3px solid #000100;
    margin-bottom: 0;
}
.nestedgrid .section2 {
    grid-area: section2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    gap: 20px;
    padding: 0 1rem 1rem;
}
.section2 a {
    color: black;
    font-size: 3rem;
}
.section2 img {
    max-width: 600px;
    width: auto;
    border: 3px solid black;
}
.section2 figcaption {
    max-width: 600px;
    width: auto;
    text-align: left;
    margin-top: .25rem;
}
.nestedgrid .content-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1700px;
    gap: 20px;
}
.nestedgrid aside img {
    max-width: 450px;
    width: 30%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 5px;
    object-fit: contain;
}
.nestedgrid aside .p-left {
    width: 30%;
    text-align: left;
    margin-left: 3rem;
}
.nestedgrid aside .p-right {
    width: 30%;
    text-align: left;
    margin-right: 3rem;
}
.nestedgrid .section3 {
    grid-area: section3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    padding: 20px;
    position: relative;
}
.section3 p {
    width: auto;
    max-width: 350px;
    text-align: left;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); 
    gap: 15px;
    width: 100%; 
    justify-content: space-evenly;
    padding-top: 10px;
    position: relative;
    margin: 1rem 0 1rem;
}
.image-grid figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.image-grid img {
    width: 100%;
    max-width: 450px; 
    height: 100%;
    max-height: 450px;
    border-radius: 10px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    margin: 3rem 1rem .5rem;
}
.image-grid h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.image-grid h2 {
    position: absolute;
}
.image-grid figcaption {
    margin-bottom: 1rem;
    max-width: 350px;
    width: auto;
    text-align: left;
}
.image-grid a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    top: 0;
}
footer {
    grid-area: footer;
    background-color: #5B3822;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    position: relative;
}
footer a {
    color: gray; 
    font-size: 1rem;
}
.footer-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
    color: white;
}
.social-icons {
    display: flex;
    gap: 50px; 
    margin-right: 10rem;
}
.social-icons img {
    max-width: 35px;
    height: auto;
    cursor: pointer;
}
.contact {
    text-align: left;
    display: flex;
    /* flex-wrap: wrap;
    width: 500px; */
    margin: 1rem 1rem;
    justify-content: space-around;
    align-items: center;
}
.contact p {
    font-size: 1.2rem;
    margin: .5rem;
    border-bottom: 1px solid black;
}
.frame {
    margin: 0 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frame iframe {
    width: 100%;
    border: 1px solid black;
}
.frame h2 {
    text-align: center;
    width: 100%;
}
form {
    width: auto;
    max-width: 500px;
    text-align: left;
    padding: 1rem;
    background-color: beige;
    border: solid black;
    margin: 1rem auto 1rem;
    display: grid;
}
legend {
    text-align: left;
    width: 100%;
    padding: .5rem 0 0;
    /* border-top: solid black; */
}
fieldset {
    border: none;
    display: grid;
    grid-gap: 5px;
    padding: 5px;
}
select {
    text-align: center;
}
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    margin-left: 1rem;
}
textarea {
    width: 100%;
    padding: 0.25rem;
    font-size: 1.1rem;
    max-width: 450px;
    text-align: left;
}
label {
    text-align: left;
    padding-right: 1rem;
}
button {
    margin: 0;
    padding: .5rem;
    font-size: 1.1rem;
    background-color: lightblue;
    border: 1px solid black;
    color: black;
}
button:hover {
    background-color: lime;
}
.checkbox-align {
    display: flex;
    align-items: center;
}
input[type="text"] {
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
}
