* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Faculty Glyphic', sans-serif;
    font-size: 24px;
    display: grid;
    place-items: center;
    margin: 0;
}
header {
    text-align: center;
    margin: 1rem;
    font-size: 20px;
}
form {
    width: auto;
    max-width: 500px;
    text-align: left;
    padding: 1rem;
    background-color: beige;
    border: dashed black;
    margin: 0 auto;
    display: grid;
}
legend {
    text-align: center;
    width: 100%;
    padding: .5rem;
    border-top: solid black;
}
fieldset {
    border: none;
    display: grid;
    grid-gap: 5px;
    padding: 5px;
}
select {
    text-align: center;
}
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: center;
    margin-left: 1rem;
}
textarea {
    width: 100%;
    padding: 0.25rem;
    font-size: 1.1rem;
}
label {
    text-align: right;
    padding-right: 1rem;
}
button {
    margin: 0;
    padding: .5rem;
    font-size: 1.1rem;
    background-color: lightblue;
    border: 1px solid black;
    color: black;
}
button:hover {
    background-color: lime;
}
footer {
    margin: 1rem;
    padding: .5rem;
    font-size: .75rem;
}
.form-item {
    display: grid;
    align-items: center;
}
.column1 {
    grid-template-columns: 3fr 1fr;
}
.column2 {
    grid-template-columns: 1fr 2fr;
}
.align-left {
    text-align: left;
}
  