.container {
    display: grid;
    grid-template-rows: 100px 300px 100px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        'header header header'
        'main aside aside'
        'footer footer footer';       
}
.item1 {
    grid-area: header;
}
.item2 {
    grid-area: main;
}
.item3 {
    grid-area: section;
}
.item4 {
    grid-area: aside;
}
.item5 {
    grid-area: footer;
}
