* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --heading-background-color: darkblue;
    --heading-text-color: #fff;
    --heading-font: georgia;
    --padding: .1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
    --text-align: center;
/* root is the css for the entire page, things you would use a lot */
}
nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}
nav a {
    color: var(--heading-text-color);
    display: block;
    padding: 20px;
}
h1 {
    color: var(--heading-background-color);
    margin: 1rem;
}
main {
    max-width: 475px;
    }
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 1rem 1rem 3rem;
}

p {
    width: 20rem;
    margin: 1rem;
    border: #000;
    padding: 3px;
    text-align: left);
}
aside {
	width: 22rem;
	margin: auto;
	border: #000;
	padding: var(--padding);
	color: black;
    background-color: var(--heading-background-color);
	text-align: var(--text-align);
    position: relative;
}
aside img {
	width: 320px;
	height: auto;
}
aside h2 {
    position: absolute;
    top: 15px;
    left: 150px;
    
}
footer {
    width: 250;
	margin-top: 20px;
	border-top: 1px solid #000;
	text-align: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    font: var(--heading-font);
    background-color: lightgreen;
}
.indent {
    padding-left: 1.2rem;
}